name: Build and Push

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io

jobs:
  backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Lowercase Repo Name
        run: echo "REPO_LOWER=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}-backend:latest

  frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Lowercase Repo Name
        run: echo "REPO_LOWER=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Frontend
        uses: docker/build-push-action@v4
        with:
          # Adjusted context to ./frontend/fr where your Dockerfile actually lives
          context: ./frontend/fr
          file: ./frontend/fr/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}-frontend:latest
